@import "../../common.scss";

.my-goals {
  table,
  td,
  th {
    border: 1px solid $grey;
    padding: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tbody {
      tr {
        transition: 0.2s background-color;

        &:nth-child(odd) {
          background-color: #f2f2f2;
        }

        td {
          &:first-child,
          &:last-child {
            text-align: center;
          }
        }

        .delete-button {
          position: relative;
          appearance: none;
          border: none;
          cursor: pointer;
          border-radius: 100%;
          height: 22px;
          width: 22px;
          vertical-align: middle;
          background-color: $red;
          color: white;
          transition: 0.2s background-color;

          &:hover {
            background-color: darken($red, 5);
          }

          &::before,
          &::after {
            content: "";
            display: block;
            width: 2px;
            height: 70%;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        .open-modal-button {
          background-color: #f1c40f;
          color: white;
          appearance: none;
          border: none;
          padding: 10px 23px;
          border-radius: 6px;
          cursor: pointer;
          font-family: inherit;
          font-size: inherit;
          margin-left: 10px;
          transition: 0.2s background-color;

          &:hover {
            background-color: rgba(#f1c40f, 0.8);
          }
        }
      }
    }
  }
}
