@import "../../common.scss";

.create-goal {
  .input-group {
    display: flex;
    gap: 10px;

    input,
    button {
      border-radius: 6px;
    }

    input {
      padding: 10px 20px;
      border: 2px solid $grey;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      transition: 0.2s border-color;

      &:hover,
      &:focus {
        border-color: $blue;
      }
    }

    button {
      appearance: none;
      border: none;
      padding: 10px 23px;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      transition: 0.2s background-color;

      &:hover {
        background-color: rgba($grey, 0.2);
      }
    }
  }

  .error {
    margin-top: 6px;
    color: $red;
  }
}
